/* Side Nav ---------------------- */
.bmenu{
    padding: 0px;
    margin: 0 0 10px 0;
    position: relative;
}
.bmenu li{
    font-size: 18px;
    display: block;
}

.bmenu li.divider { border-top: 1px solid #e6e6e6; height: 0; padding: 0; }

.bmenu li a{
    color: transparent;
    display: block;
    text-transform: uppercase;
    text-shadow: 0px 0px 1px #70cb2a;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.bmenu:hover li a{
    text-shadow: 0px 0px 2px #52a126;
}
.bmenu li a:hover{
    color: #70cb2a;
    text-shadow: 0px 0px 1px #70cb2a;
    padding-left: 10px;
}

.sub  ul{
    padding-left: 25px;
	height: 0px;
	list-style-type: none;
    overflow: hidden;
	
	/*Animation*/
    -webkit-transition: height 1s ease;
       -moz-transition: height 1s ease;
         -o-transition: height 1s ease;
        -ms-transition: height 1s ease;
            transition: height 1s ease;
}

.sub:hover ul {
	height: 180px;
}

.sub ul li a {
    font-size: 17px;
}

/* Panels ---------------------- */
.panel { background: #f2f2f2; border: solid 1px #e6e6e6; margin: 0 0 22px 0; padding: 20px; }
.panel > :first-child { margin-top: 0; }
.panel > :last-child { margin-bottom: 0; }
.panel.callout { background: #33cb6c; color: #fff; border-color: #52a126; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); }
.panel.callout a { color: #fff; }
.panel.callout .button { background: white; border: none; color: #70cb2a; text-shadow: none; }
.panel.callout .button:hover { background: rgba(255, 255, 255, 0.8); }
.panel.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

.lastposts { background: #FFFFE5; border: solid 1px #FFFF99; color: #fff; -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5); }
.lastposts.radius { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

body {
    background:transparent url(../images/fon.png) center top;
    background-repeat:repeat-y;
    background-attachment:fixed;
}

#vk_like {
	padding-top: 14px;
}
