h3{
    color : #d04526;
    font-weight:normal;
    text-align:left;
}

body {
    font-family: Tahoma;
    font-style: normal;
}

blockquote p {
    font-style: italic;
	text-align: justify;
	text-indent: 20px;
	margin-bottom: 5px;
}

p {
    font-size: 16px;
    letter-spacing: 1px;
    color: #464545;
}

footer p {
	font-size: 14px;
}

.justify {
	text-align: justify;
	text-indent: 20px;
	}
	
.center {
	text-align: center;
}

.small {
	font-size: 10px;
}