{% extends 'base.html' %}
{% block content %}
    <ul>
    {% for post in posts %}    
		<li><h5><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h5></li>
    {% endfor %}
    </ul>
{% endblock %}