{% extends 'base.html' %}
{% block content %}
<div class='row center'>
<a href='/games/prover-svoi-znaniya/'><img src='{{ MEDIA_URL }}images/games/prover-svoi-znaniya.jpg' alt='Проверь свои знания'/></a>
</div>
{% endblock %}