{% extends 'base.html' %}
{% block content %}
	<div class='row'>
	{% for post in posts %}
    {% if forloop.first %}
        <h3 class='center'>{{ post.quiz.title }}</h3>
	    <form method="post" action="">
	{% endif %}

        <p>{{ post.question }}<br>
		<input type="text" name="{{ post.answer }}"/></p>
     
    {% endfor %}
	     
    </form>
	<p class="tertiary btn" ><a href="#" onclick="result();return false;">Ответ</a></p>
    <div id='answer'></div>
	</div>
{% endblock %}