﻿{% extends 'base.html' %}
{% block content %}
    <div class="row">
		<div class="nine columns centered">
			<img src="{{ MEDIA_URL }}images/about_subscription.gif">
		</div>
	</div>
<p>Также вы можете оформить подписку он-лайн (<a href="http://vipishi.ru/catalog/inet/item/usertype/inet/org_id/547/group/23?code=52458&suffix=stavrosha-detskaya-gazeta" target="_blank">перейдите по ссылке</a>). Оплата производится через интернет: карты, QIWI, интернет-банкинг.</p>
<p>Для жителей городов Самара, Тольятти, Кинель, Отрадный, Похвистнево, Сызрань, Жигулёвск, Новокуйбышевск, Чапаевск действует подписка через киоски ОАО «Роспечать».
Можно обратиться в любой киоск, который расположен ближе к Вашему дому, и оформить подписку на детскую газету «Ставроша» по каталогу МЕСТНЫХ ИЗДАНИЙ, начиная с любого месяца.
Получать газету в этом случае подписчики будут в этом же киоске.</p>
<p>Скоро будет возможность подписки на электронную версию (PDF).</p>
<p>Подписка на 1 год стоит от 120 рублей. Стоимость может меняться в зависимости от удаленности Вашего города.</p>

{% endblock %}