﻿{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <h3>Как всё начиналось<br><small>Рассказывает главный редактор Елена Михайловна Потяшина</small></h3>
    
		<p class="justify">Редакция детской газеты «Ставроша» - это коллектив единомышленников. Мы стараемся воспитывать в наших читателях  любовь к Родине, интерес к истории и русской словесности, любознательность и чувство юмора. Поощряем творчество  и трудолюбие. Основная цель газеты – это воспитание юного поколения в духе традиционных нравственных ценностей. Пишем об искусстве, спорте, науке – хотим расширить кругозор юных читателей и привить любовь к чтению. </p>
		<p class="justify">Я получила неплохое образование – окончила юридический факультет Казанского государственного университета. Работала юристом на предприятии, доросла до начальника юридического отдела. Но эта работа никогда не приносила морального удовлетворения. Хотя, получалось неплохо.</p>
		<p class="justify">Идея создать детскую газету пришла в октябре 1999 года. Она возникла после долгих раздумий «о судьбах нашей Родины», о том, что делает с детьми телевидение и быстро развивающаяся система по внедрению новых ценностей (как оптимист, отмечаю, что  сейчас начались попытки сделать  хоть что-то на государственном уровне для  прекращения  растления молодёжи). По сути, я максималистка и всегда хотела сделать нечто большое и важное.</p>
		<p class="justify">С газетой всё пошло как по маслу. Придумалось симпатичное название (от Ставрополя-на-Волге), определились рубрики, нашлись добрые люди, которые помогли на первых порах советами и порекомендовали художника-дизайнера  Ольгу Манухину. Много помогал муж Олег, он программист. </p>
		<p class="justify">Первый номер был выпущен в ноябре 1999 года, его сделали за две недели, так торопились, что не сочли нужным даже проверить  ошибки (потом нам звонили и говорили, что газета хорошая, но «время мчиться» пишется без мягкого знака). Верстали у нас дома. Тираж – 1 тысяча экземпляров. Деньги  на печать и бумагу были семейные.</p>
		<p class="justify">Понесли газету в школы, отзывы  и у детей, и учителей  прекрасные. У  нас был такой энтузиазм! Декабрьский номер «Ставроши» был выпущен уже тиражом 3 тысячи. Потом к нашему редакционному коллективу, состоящему из меня, Ольги  и Олега (но  у него есть своя основная работа) добавилась Татьяна Чупрова. Она стала  коммерческим  директором.  Татьяна Ивановна взялась за подписку, и тираж к марту вырос до 8 тысяч. Наше ноу-хау в том, что мы с Татьяной лично,  своими ногами, обошли все школы города Тольятти и рассказали о газете.</p>
		<p class="justify">Позже наш коллектив прирос Еленой Лысянской и Натальей Михайловой, они работают  со школами. Иллюстрирует нашу газету художница Лариса Хафизова. Её дар от Бога. Рисунки Ларисы стали настоящим украшением детского издания. </p>
		<p class="justify">Мои коллеги – это подвижники и прекрасные люди!</p>
 
		<div class="nine columns centered">
			<img src="{{ MEDIA_URL }}images/about_us.gif">
			<p class="center">На 10-летие «Ставроши» в 2009 году собрались сотрудники редакции вместе с семьями.</p>
		</div>
		<h3>Сотрудники нашей газеты</h3>
		<div class='panel'>
		<div class="row">
            <div class="four columns">
                <img src="{{ MEDIA_URL }}images/foto_EP.jpg" alt="Фотография главного редактора - Потяшиной Елены Михайловны" >
            </div>
            <div class="eight columns">
                <blockquote>
                    <p>К сказанному в статье «Как всё начиналось» хочу добавить важную характеристику своей личности – я многодетная мама. У нас с мужем Олегом Юрьевичем семеро детей в возрасте от 5 до 26 лет. Пять сыновей и две дочери.</p>
					<p>Быть многодетной мамой – это большое счастье. И это не просто лозунг, это непреходящее ощущение, которое живёт в моей душе.</p>
                    <p>Издание детской газеты является продолжением радости многочадия. Как и организация фестивалей детского и юношеского творчества, вожатский труд в летнем лагере и преподавательская работа в школе (веду уроки основ православной культуры).</p>
					<p>Если бы меня спросили о жизненном девизе, я бы процитировала строчку из песни «Как нелепо жить вниз головой, когда такое небо есть надо мной…»</p><br>
                    <cite>С любовью, главный редактор Елена Михайловна Потяшина</cite>
                </blockquote>
            </div>
        </div>
		</div>
		<div class='panel'>
		<div class="row">
            <div class="four columns">
                <img src="{{ MEDIA_URL }}images/foto_TI.png" alt="Татьяна Ивановна Чупрова" >
            </div>
            <div class="eight columns">
                <blockquote>
					<p>Я родилась в Казахстане в городе Уральске. В 1986 году закончила факультет автоматики и измерительной техники Куйбышевского политехнического института. В 1990 году вместе с мужем переехали в его родной город Тольятти. Подросли дети, и я думала о выходе на работу. Тогда же узнала, что Елена Потяшина, с которой тогда мы были немного знакомы, выпустила детскую газету. Первый номер «Ставроши» для меня в ноябре 1999 года явился как луч света в потоке негатива, которые лились с экрана и со страниц газет и журналов. Решила помочь Елене в популяризации газеты, пока не устроилась на работу. Но так получилось, что газета «Ставроша» с тех пор и стала моим основным делом. Весь наш небольшой коллектив объединило желание, чтобы как можно больше детей и взрослых читали «Ставрошу». В редакции я веду подписную кампанию, отвечаю на письма читателей, проверяю орфографию очередного номера, а также веду бухгалтерию нашей организации..</p>
                    <p>Для меня газета – это не просто дело, работа, но и желание хоть чуть-чуть сделать мир лучше.</p><br>
                    <cite>С любовью, коммерческий директор Татьяна Ивановна Чупрова</cite>
                </blockquote>
            </div>
        </div>
		</div>
		<div class='panel'>
		<div class="row">
            <div class="four columns">
                <img src="{{ MEDIA_URL }}images/foto_EL.png" alt="Лысянская Елена Геннадиевна" >
            </div>
            <div class="eight columns">
                <blockquote>
					<p>Работаю в" Ставроше " с 2004 года в должности помощника главного редактора, занимаюсь подпиской, доставкой газеты, собираю детские творческие работы.  Замужем, два сына Владимир и Артемий. Стараюсь вести активный образ жизни, люблю водные походы.  У меня замечательная семья, много родственников и друзей, прекрасная работа. Я счастлива таким богатством.</p>
                    <p>В свое время пришлось поработать в различных организациях, но это была именно работа. "Ставроша"  - это совершенно другое, настоящее Дело. Здесь я в команде единомышленников. Наш коллектив  - это очень интересные люди. За время работы в газете, я поступила и окончила Российский Государственный Социальный Университет по специальности социальная работа. Работа помогала мне в учебе, а теперь учеба помогает в работе.</p>
                    <p>Мы живем в непростое время, время когда размываются элементарные понятия добра и зла, разрушается институт семьи, в первую очередь под удар попадают наши дети и их будущее. Этому нужно противостоять, нельзя опускать руки. Газета "Ставроша " ставит своей целью нести нашим детям доброе, вечное, помогает раскрыться талантам. Я рада, что могу участвовать в таком интересном и полезном  деле!</p><br>
                    <cite>С любовью, Елена Геннадиевна Лысянская</cite>
                </blockquote>
            </div>
        </div>
		</div>
		<div class='panel'>
		<div class="row">
            <div class="four columns">
                <img src="{{ MEDIA_URL }}images/foto_OM.png" alt="Манухина Ольга Владимировна" >
            </div>
            <div class="eight columns">
                <blockquote>
					<p>Манухина Ольга Владимировна является выпускницей факультета изобразительных искусств ТФСГПУ, ныне Тольяттинского Государственного Университета.</p>
                    <p>Ольга Владимировна совмещает работу художника детской газеты "Ставроша» с работой педагога. И это неоценимая удача для любой из сторон её деятельности. Ольга Владимировна помогает ученикам сориентироваться в дальнейших вариантах развития творческой карьеры, открывает для детей мир искусства, знакомя с художественной средой – выставками, авторами картин, студенческими проектами.</p>
                    <p>Работа в газете, в свою очередь, открывает богатые возможности реализации педагогического таланта, помогает транслировать истинные ценности, прививать подрастающей молодёжи представление о добром и прекрасном.</p>
					<p>Оба аспекта профессиональной деятельности Ольги Владимировны отмечены грамотами и наградами, вместе с тем руководство и коллеги всегда особенно отмечают исключительные личностные качества Ольги: чёткие нравственные ориентиры, бескорыстное служение общественным идеалам, активный интерес к различным сферам жизни дополняют образ по-настоящему интеллигентного человека, одного из тех, кто хранит и продолжает культурные традиции и наполняет духовным смыслом современную действительность.</p><br>
                    <cite>Старший преподаватель кафедры ИЗО Тольяттинского Государственного Университета, художник Горячева Светлана Николаевна.</cite>
                </blockquote>
            </div>
        </div>
		</div>
		<div class='panel'>
		<div class="row">
            <div class="four columns">
                <img src="{{ MEDIA_URL }}images/foto_L.png" alt="Хафизова Лариса Ринатовна" >
            </div>
            <div class="eight columns">
                <blockquote>
					<p>Более десяти лет наша редакция сотрудничает с молодой, самостоятельной художницей Ларисой Ринатовной Хафизовой.</p>
                    <p>Рисунки Ларисы интересны и талантливы, легки и изящны. Ей всегда удаётся передать любое движение – бег мальчишки-шалуна, полёт орла, дуновение ветерка. Благодаря работам Ларисы, «Ставроша» приобрела особое очарование, газету с удовольствием рассматривают не только дети, но и взрослые. Её рисунками оформлен и наш сайт.</p>
                    <p>В Тольятти и в области  неоднократно проходили персональные выставки Ларисы Хафизовой. Её работами иллюстрированы книги, выпущены специальные календари. За свой труд Лариса  отмечена премиями, дипломами и другими наградами. Ларису заслуженно называют «жемчужиной» нашего города. </p><br>
                    <cite>Главный редактор Елена Михайловна Потяшина.</cite>
                </blockquote>
            </div>
        </div>
		</div>
	</div>
   
{% endblock %}