{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <h3 style="text-align: center;">О журнале</h3>
        <p class="justify">В чём состоит идея создания «Библиотечки детской газеты «Ставроша»? Всё лучшее, что было опубликовано за все годы существования нашей  газеты, собирается в журнал по отдельным темам или рубрикам. Один журнал - одна тема.</p>
		<p class="justify">Всего было четыре выпуска журнала. И каждый из них – уникальное издание.</p>
    </div>
    <div class="row">
        <div class="three columns">
            <img src="{{ MEDIA_URL }}images/1.png">
        </div>
        <div class="nine columns">
            <p class="justify">Первый выпуск - всегда самый значительный. Тем более, посвящён этот номер такой хорошей теме – истории родного края, точнее, истории города Тольятти. Не любить тот город, в котором родился и растёшь невозможно. Первые шаги, первые друзья, первая учительница – всё связано с родиной. Любить родной край – это означает и интересоваться его историей, узнавать как можно больше о прошлом и стараться внести свой вклад в настоящее и будущее.</p>
            <p class="justify">Вы подумаете, юные читатели, что вы ещё маленькие и ничего не можете сделать для большого промышленного города Тольятти. Начинать нужно с малого: с прилежной учёбы, старания, доброжелательного и вежливого отношения к  окружающим людям. На самом деле – помочь старушке перейти дорогу, заступиться за слабого, уступить в транспорте место старику или женщине с маленьким ребёнком, навести порядок во дворе своего дома – это очень много и очень важно. Лучшие качества воспитываются в детстве.</p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="three columns">
            <img src="{{ MEDIA_URL }}images/2.png">
        </div>
        <div class="nine columns">
            <p class="justify">Во втором выпуске «Библиотечки…» собраны детские анекдоты, юмористические рассказы и весёлые стихотворения.</p>
            <p class="justify">Вы знаете, что юмор занимает важное место в жизни человека.  Чувство юмора помогает не отчаиваться в неприятных ситуациях, умение посмеяться над собой может выручить в трудную минуту, а добрая ирония оказывает воспитательное воздействие на товарищей.</p>
            <p class="justify">Говорят, что три минуты смеха заменяют стакан сметаны. Вот как важен смех!</p>
            <p class="justify">Но, пожалуй, ещё важнее оптимистический настрой, то есть  уверенность в том, что всё будет хорошо. Сегодня плохая погода, зато завтра выглянет солнце. Ты поссорился с другом, но скоро обязательно помиришься.  Появилась «двойка» по математике? Это легко исправить. Вот с таким настроением нужно и учиться, и дружить.</p>
            <p class="justify">Желаем Вам,  наши юные читатели, никогда не терять чувство юмора   и уверенности в том, что жизнь интересна, и хороших людей на свете больше!</p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="three columns">
            <img src="{{ MEDIA_URL }}images/3.png">
        </div>
        <div class="nine columns">
            <p class="justify">Третий выпуск «Библиотечки…» посвящён самой «вкусной» рубрике нашей газеты - «Советы бабушки Вари». Вначале мы хотели выпустить номер с другой темой, но по просьбам наших читателей мальчиков, да, да, именно мальчиков,  мы решили подготовить номер с рецептами различных кушаний. Ведь как признано, лучшие кулинары – это мужчины. Хотя пищу готовят, в основном, женщины. Так что наш журнал будет интересен всем. Действительно, кто не захочет  в свободное время поэкспериментировать на кухне?</p>
            <p class="justify">Не все опубликованные рецепты просты, иногда вам, наши юные читатели, потребуется помощь взрослых. Готовя  вкусности и сладости, не забывайте, что нужно кушать побольше живых витаминов, которые содержатся  во фруктах, овощах и зелени. А морковка лучше всякой жвачки.</p>
            <p class="justify">Бережно относитесь к продуктам, и приготовление пищи всегда начинайте только в хорошем настроении. Тогда всё получится. Помните, дорогие мальчики и девочки, где  терпение, там и умение.</p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="three columns">
            <img src="{{ MEDIA_URL }}images/4.png">
        </div>
        <div class="nine columns">
            <p class="justify">Четвёртый номер нашего журнала называется «Вместо телевизора». Конечно, телевизор – штука очень увлекательная. Но в большом количестве он вреден. Не стоит  его смотреть с  утра до вечера. Настоящая жизнь гораздо интереснее. Телевизор не может заменить живого общения с друзьями, чтения книг, наблюдения за  природой.</p>
            <p class="justify">В нашем журнале вы найдёте много разнообразных кроссвордов, ребусов, заданий. Что-то вы решите с лёгкостью, над чем-то придётся задуматься. В любом случае, дорогие читатели, вы получите интеллектуальный опыт, расширите свой кругозор.</p>
            <p class="justify">Все кроссворды, вошедшие в журнал, были придуманы нашими читателями и публиковались ранее, в первых номерах газеты «Ставроша».</p>
            <p class="justify">В конце журнала вы найдете ответы на задания, но старайтесь не заглядывать туда сразу, а сначала подумайте.</p>
        </div>
    </div>
{% endblock %}