{% extends 'base.html' %}
{% block content %}
<div class='row' style='padding: 20px'>
    {% for post in posts %}
	    <ul>
		<li><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a> - {% if forloop.counter == 1 %}Идет{% else %}Закончен{% endif %}</li>
		</ul>
    {% endfor %}
</div>	
{% endblock %}