{% extends 'base.html' %}
{% block content %}
    <h3>Все статьи в порядке их добавления на сайт</h3>
    <ul>
	{% for post in posts %}   
		<li>{{ post.rubric }}: <a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></li>	
		{% if forloop.last %}
		        </ul>
                {% if paginator.num_pages > 1 %}
				    
                    <div class="twelve columns" style="text-align: center;">
					    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} <br>
					
                        {% if page_obj.has_previous %}
                            <a href="/content/all/{% if page_obj.previous_page_number == 1 %}{% else %}page{{ page_obj.previous_page_number }}/{% endif %}">&larr;</a>
                        {% endif %}
						
                        {% for p in paginator.page_range %}
                            <a href="/content/all/page{{ p }}">{{ p }}</a>
						{% endfor %}
						
                        {% if page_obj.has_next %}
                            <a href="/content/all/page{{ page_obj.next_page_number }}/">&rarr;</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
    {% endfor %}
{% endblock %}