<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en" itemscope itemtype="http://schema.org/Product"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
	<meta name='yandex-verification' content='48d2239ca895562f' />
    <meta name="google-site-verification" content="RKUfIZWJSxs1QTNFiGpXCk2POX2k7WKm_4Dn-hHGGDg" />   
	{% block keywords%}
	<title>Ставроша - добрая газета для детей младшего и среднего школьного возраста. Стихи и рассказы, смешилки и кроссворды, кулинарные рецепты и поделки, познавательные рубрики и детское творчество.</title>
	<meta name="description" content="Ставроша - добрая газета для детей младшего и среднего школьного возраста. Стихи и рассказы, смешилки и кроссворды, кулинарные рецепты и поделки, познавательные рубрики и детское творчество." />	
    <meta name="keywords" content="сайты +для детей, сценарии праздников, +для детей, развивающие сайты +для детей, интересные сайты +для детей, познавательный сайт +для детей, христианские сайты +для детей, обучающие сайты +для детей, образовательные сайты +для детей, детская газета" />
	{% endblock %}
    
	<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" type="image/x-icon" />

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/imports.css">
    <script src="{{ MEDIA_URL }}js/libs/modernizr-2.0.6.min.js"></script>
    
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?62"></script>
    <script type="text/javascript">
        VK.init({apiId: 3202194, onlyWidgets: true});
    </script>
    {% block head%}{% endblock %}

</head>

<body>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter17982787 = new Ya.Metrika({id:17982787, enableAll: true, webvisor:true});
        } catch(e) { }
    });
    
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/17982787" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<div class="row">
    <div class="twelve columns">
		<a href="/"><img src="{{ MEDIA_URL }}images/название.gif" alt="Ставроша - добрая газета для мальчиков и девочек" ></a>
	</div>
</div>

<div class="row">
    <nav class="pretty navbar clearfix" id="prettynav">
        <a href="#" class="toggle" data-for="#prettynav > ul"><img src="{{ MEDIA_URL }}images/img/icon_nav_toggle.gif" /></a>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about-subscription">О подписке</a></li>
            <li><a href="/about-us">О редакции</a></li>
            <li><a href="/konkursy">Конкурсы</a></li>
            <li><a href="/images/raskraski">Раскраски</a></li>
            <li>
                <div class="field">
                    <p class="text search oval"><input type="search" placeholder="Поиск" /></p>
                </div>
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="three columns">
        <ul class="bmenu">
			<li><a href="/rubric/vmesto-televizora">Вместо телевизора</a></li>
			<li><a href="/images/krossvordy">Кроссворды</a></li>
			<li><a href="/rubric/skazochki-rasskazochki">Сказочки-рассказочки</a></li>
            <li><a href="/rubric/zvezdochki">Звездочки</a></li>
            <li><a href="/rubric/geroi-otechestva">Герои Отечества</a></li>
            <li><a href="/rubric/sovety-babushki-vari">Советы бабушки Вари</a></li>
            <li><a href="/rubric/smeshilki">Смешилки</a></li>
            <li><a href="/rubric/vsyo-genialnoe-prosto">Всё гениальное просто</a></li>
            <li><a href="/rubric/premudrosti-russkogo-yazyka">Премудрости русского языка</a></li>
            <li><a href="/rubric/poznavalochki">Познавалочки</a></li>
            <li><a href="/rubric/fokusy">Фокусы</a></li>
            <li><a href="/rubric/sami-s-usami">Сами с усами</a></li>
			<li><a href="/rubric/stihi-dlya-detej">Стихи для детей</a></li>
			<li><a href="/rubric/rasskazy-ob-iskusstve">Рассказы об искусстве</a></li>
            <li><a href="/rubric/rasskazy-aleksandra-peterburskogo">Рассказы Александра Петербурского</a></li>
            <li><a href="/rubric/rasskazy-olega-kornienko">Рассказы Олега Корниенко</a></li> 
			<li><a href="/rubric/avtorskie-detskie-pesni">Авторские детские песни</a></li>
            <li class="divider"></li>
            <li><a href="/rubric/scenarii-prazdnikov">Сценарии праздников</a></li>
   			<li class="divider"></li>
			<!-- VK Widget -->
			<div id="vk_groups"></div>
			<script type="text/javascript">
					VK.Widgets.Group("vk_groups", {mode: 0, width: "200", height: "286"}, 45013664);
			</script>
        </ul>
    </div>
    <div class="nine columns">
        {% block content %}{% endblock %}
    </div>
</div>

<footer class="row">
    <div class="twelve columns">
        <hr />
        <div class="row">
            <div class="five columns">
                <p>&copy; Ставроша</p>
            </div>
			<div class="two columns">
		        
		    </div>
			<div class="five columns">
				<p>
					Уважаемые читатели, присылайте свои материалы по следующим адресам:<br>
					e-mail: <a href="mailto:stavrosha@yandex.ru"> stavrosha@yandex.ru</a><br>
					Для писем: 445017, Тольятти а/я 2598
				</p>
			</div>
        </div>
		
		<div class="row center">
		    <a href ="http://www.zorika.by" target="_blank"><img src="{{ MEDIA_URL }}images/зорька.gif" height="31" width="88"/></a>
		    <a href ="http://www.chudo-udo.com" target="_blank"><img src="{{ MEDIA_URL }}images/chudo-udo.png" height="31" width="88"/></a>
		</div>
		
		<div class="row center">
		        <!-- HotLog -->
<script type="text/javascript">
hotlog_r=""+Math.random()+"&s=2263652&im=43&r="+
escape(document.referrer)+"&pg="+escape(window.location.href);
hotlog_r+="&j="+(navigator.javaEnabled()?"Y":"N");
hotlog_r+="&wh="+screen.width+"x"+screen.height+"&px="+
(((navigator.appName.substring(0,3)=="Mic"))?screen.colorDepth:screen.pixelDepth);
hotlog_r+="&js=1.3";
document.write('<a href="http://click.hotlog.ru/?2263652" target="_blank"><img '+
'src="http://hit41.hotlog.ru/cgi-bin/hotlog/count?'+
hotlog_r+'" border="0" width="88" height="31" title="" alt="HotLog"><\/a>');
</script>
<noscript>
<a href="http://click.hotlog.ru/?2263652" target="_blank"><img
src="http://hit41.hotlog.ru/cgi-bin/hotlog/count?s=2263652&im=43" border="0"
width="88" height="31" title="" alt="HotLog"></a>
</noscript>
                <!-- /HotLog -->
				<!-- Rating@Mail.ru counter -->
<script language="javascript"><!--
var a='';a+=';r='+escape(document.referrer);js=10;//--></script>
<script language="javascript1.1"><!--
a+=';j='+navigator.javaEnabled();js=11;//--></script>
<script language="javascript1.2"><!--
s=screen;a+=';s='+s.width+'*'+s.height;
a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth);js=12;//--></script>
<script language="javascript1.3"><!--
js=13;//--></script><script language="javascript" type="text/javascript"><!--
document.write('<a href="http://top.mail.ru/jump?from=1744951" target="_top">'+
'<img src="http://d0.ca.ba.a1.top.mail.ru/counter?id=1744951;t=235;js='+js+
a+';rand='+Math.random()+'" alt="Рейтинг@Mail.ru" border="0" '+
'height="31" width="88"><\/a>');if(11<js)document.write('<'+'!-- ');//--></script>
<noscript><a target="_top" href="http://top.mail.ru/jump?from=1744951">
<img src="http://d0.ca.ba.a1.top.mail.ru/counter?js=na;id=1744951;t=235" 
height="31" width="88" border="0" alt="Рейтинг@Mail.ru"></a></noscript>
<script language="javascript" type="text/javascript"><!--
if(11<js)document.write('--'+'>');//--></script>
                <!-- //Rating@Mail.ru counter -->
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t21.15;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
			   <!-- begin of Top100 code -->
<script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?2807287"></script>
<noscript>
<a href="http://top100.rambler.ru/navi/2807287/">
<img src="http://counter.rambler.ru/top100.cnt?2807287" alt="Rambler's Top100" border="0" />
</a>
</noscript>
               <!-- end of Top100 code -->
			   <!--Openstat-->
<span id="openstat2290181"></span>
<script type="text/javascript">
var openstat = { counter: 2290181, image: 87, color: "55b33d", next: openstat };
(function(d, t, p) {
var j = d.createElement(t); j.async = true; j.type = "text/javascript";
j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
})(document, "script", document.location.protocol);
</script>
               <!--/Openstat-->
		</div>
    </div>
</footer>


<script src="{{ MEDIA_URL }}js/libs/jquery-1.7.2.min.js"></script>
<script src="{{ MEDIA_URL }}js/libs/gumby.min.js"></script>
<script src="{{ MEDIA_URL }}js/plugins.js"></script>
<script src="{{ MEDIA_URL }}js/main.js"></script>
{% block js %}{% endblock %}

<!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

<script type="text/javascript">
    var reformalOptions = {
        project_id: 83953,
        project_host: "stavroshka.reformal.ru",
        tab_orientation: "left",
        tab_indent: "50%",
        tab_bg_color: "#ffffff",
        tab_border_color: "#d04526",
        tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/d04526/39a0728ae61386200f5bf366314cfed5/left/0/tab.png",
        tab_border_width: 1
    };
    
    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://stavroshka.reformal.ru">Oтзывы и предложения для Ставроша</a></noscript>  

<script type="text/javascript">
  (function() {
    var _sw = document.createElement('script'); _sw.type = 'text/javascript'; _sw.async = true;
    _sw.src = 'https://suggest.io/js';
    var _sh = document.getElementsByTagName('head')[0]; _sh.appendChild(_sw);
  })();
</script>
</body>
</html>
