﻿{% extends 'base.html' %}
{% block content %}
	<div class="container">
	    <section class="twelve columns">
		    <div class="panel">
                <div class="row">
                    <h3>{{ konkurs.title }}</h3>
                </div>
                <div class="row">
			        {{ konkurs.content|safe }}
				</div>
            </div>
        </section>
    </div>

    <div class="container">
        {% for post in posts %}
            <div class="row">
                <section class="twelve columns">
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    {{ post.get_trancate_text|safe }}
                </section>
                <a href="{{ post.get_absolute_url }}" class='right'>Далее</a>
            </div>
            <hr class="twelve columns" />
        {% endfor %}
    </div>
{% endblock %}
