﻿{% extends 'base.html' %}
{% block keywords %}
	{% for post in images %}{% if forloop.first %}
    <title>{{ post.rubric.title }}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="{{ post.rubric.title }}" />
	{% endif %}{% endfor %}
{% endblock %}
{% block head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/libs/highslide.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/highslide.css" />

    <script type="text/javascript">
        hs.graphicsDir = '{{ MEDIA_URL }}images/graphics/';
        hs.outlineType = 'rounded-white';
    </script>
{% endblock %}
{% block content %}
    <div class="highslide-gallery">
        <div class="row">
		{% for image in images %}
            <div class="three columns">

                <a id="thumb1" href="{{ MEDIA_URL }}{{ image.image }}" class="highslide" onclick="return hs.expand(this)">
                    <img src="{{ image.thumbnail }}" alt="{{ image.title }}"
                        title="Кликните для увеличения" width="160" /></a>

                <div class="highslide-caption">
                    <p class="center"><a href="{{ image.download_url }}" target="_blank">Скачать</a><p>
                </div>
                <p class="small">{{ image.title }}</p>
            </div>
			{% if forloop.counter|divisibleby:"4" %}</div><br><div class='row'>{% endif %}
		{% endfor %}
		</div>
    </div>
{% endblock %}