{% extends 'base.html' %}
{% block content %}

<!--
<div class="row">
    <div class="twelve">
            <a href="/konkursy"><img src="{{ MEDIA_URL }}{{ header.image }}"></a>
    </div>
</div>-->

<div style='padding: 0px 0px 7px;'>
<div class="row lastposts radius"><a href='/content/all/page1/'>
<h5 class='center' style="font-family: 'Comic Sans MS', cursive; font-size: 2em; color: #66CC00;">Новое на сайте</h5></a>
<div class="row">
{% for post in posts %}
    <div class="four columns" style='padding: 0px 5px;'>
	  <a href="{{ post.get_absolute_url }}"><img src="{{ post.rubric.thumbnail }}" alt="{{ post.rubric.title }}" /></a> 
	  <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> 
	</div>
	{% if forloop.counter == 3 %}</div><br><div class='row'>{% endif %}
{% endfor %}
</div>
</div>
</div>

    <div class='panel'>
        <div class="row">
            <div class="four columns">
                <img src="{{ MEDIA_URL }}images/foto.png" alt="Фотография главного редактора - Потяшиной Елены Михайловны" >
            </div>
            <div class="eight columns">
                <blockquote>
					<p>Родилась наша газета  в 1999 году в  Тольятти, и своим названием  обязана старинному имени города – Ставрополь-на-Волге.</p>
                    <p>Ставроша – это весёлый мальчишка в косоворотке и  лапоточках. Он  успел побывать во многих уголках нашей огромной страны. Встретиться со Ставрошей очень просто - нужно только подписаться на добрую и весёлую детскую газету.</p>
                    <p>Много интересно найдут на страницах «Ставроши» юные умельцы, кулинары, поэты, художники, историки и все те, кто любознателен и имеет чувство юмора.</p>
                    <p>Желаем всем нашим читателям радости, добра и необычных открытий. Ждём новых подписчиков.</p>
                    <cite>С любовью, главный редактор Елена Михайловна Потяшина</cite>
                </blockquote>
            </div>
        </div>
    </div>

<div class="row">
	<div class="twelve columns">
    <script type="text/javascript" src="http://pressa-online.com/ws.aspx?service=shelf-creator&uid=19225&n=5">
    </script>
	</div>
</div>
<hr/>
<div class="row">
    <div class="nine columns">
        <div class="panel callout radius">
            <p>
			Адрес редакции: 445037, г. Тольятти, ул. Фрунзе, 10-75<br>
            Телефоны: (8482) 20-24-05, 48-70-94<br>
            Для писем: 445017, Тольятти а/я 2598<br>
            E-mail: stavrosha@yandex.ru   &nbsp;&nbsp;Подписной индекс: 52458
            </p>
        </div>
    </div>
    <div class="three columns">
	    
	</div>
</div>

{% endblock %}