﻿{% extends 'base.html' %}
{% block keywords %}
    <title>{{ post.title }} - {{ post.rubric.title }}{{ post.konkurs }}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="{{ post.rubric.title }}{{ post.konkurs }}, {{ post.title }}" />
{% endblock %}
{% block content %}
    {% if post.rubric.image %}
	<div class="row">
        <div class="twelve columns">
            <a href='{{ post.rubric.get_absolute_url }}'><img src="{{ MEDIA_URL }}{{ post.rubric.image }}" /></a>
        </div>
    </div>
    {% endif %}
	<div class="container">
        <section class="twelve columns">
            <div class="row">
                <div class="nine columns">
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
				</div>
                <div class="three columns">
                    <div id="vk_like"></div>
	                <script type="text/javascript">
					    VK.Widgets.Like("vk_like", {type: "button"});
				    </script>
                </div>
            </div>
            <div class="row">
                {{ post.get_full_text|safe }}
			</div>
			<a href="javascript:history.back()" onMouseOver="window.status='Назад';return true" class='right'>Назад</a>
			<hr/>
        </section>
    </div>
    <div class='row'>
		<div class="twelve columns">
        <div id="vk_comments"></div>
		<script type="text/javascript">
			VK.Widgets.Comments("vk_comments", {limit: 10, width: "700", attach: "*"});
		</script>
		</div>
    </div>	
{% endblock %}
