{% extends 'base.html' %}
{% block keywords %}
	{% for post in posts %}{% if forloop.first %}
    <title>{{ post.rubric.title }}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="{{ post.rubric.title }}" />
	{% endif %}{% endfor %}
{% endblock %}
{% block content %}
    {% for post in posts %}{% if forloop.first %}
    <div class="row">
        <div class="twelve columns">
        {% if post.rubric.image %}
            <a href='{{ post.rubric.get_absolute_url }}'><img src="{{ MEDIA_URL }}{{ post.rubric.image }}" alt="{{ post.rubric.title }}" /></a>
        {% endif %}
        {% if post.rubric.content %}
            {{ post.rubric.content|safe }}
        {% endif %}
        </div>
    </div>
    {% endif %}{% endfor %}
    <div class="container">
        {% for post in posts %}
            <div class="row">
                <section class="twelve columns">
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    {{ post.get_trancate_text|safe }}
                </section>
                <a href="{{ post.get_absolute_url }}" class='right'>Далее</a>
            </div>
            <hr class="twelve columns" />
			{% if forloop.last %}
                {% if paginator.num_pages > 1 %}
				    
                    <div class="twelve columns" style="text-align: center;">
					    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} <br>
					
                        {% if page_obj.has_previous %}
                            <a href="{{ post.rubric.get_absolute_url }}{% if page_obj.previous_page_number == 1 %}{% else %}page{{ page_obj.previous_page_number }}/{% endif %}">&larr;</a>
                        {% endif %}
						
                        {% for p in paginator.page_range %}
                            <a href="{{ post.rubric.get_absolute_url }}page{{ p }}">{{ p }}</a>
						{% endfor %}
						
                        {% if page_obj.has_next %}
                            <a href="{{ post.rubric.get_absolute_url }}page{{ page_obj.next_page_number }}/">&rarr;</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

